.resolucion {
   width: 99%;
   text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
   .desktop {
       display: none;
   }
   .tablet {
       display: none;
   }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
   .desktop {
       display: none;
   }
   .movil {
       display: none;
   }
}


/**Escritorio**/

@media (min-width: 991px) {
   .tablet {
       display: none;
   }
   .movil {
       display: none;
   }
}

header{
    padding: 5px 0;
    font-family: Poppins;
}

.caja{
    width: 1700px;
    position: relative;
    margin: 0 auto;
    
}
.caja img{
    weight: 75px;
    height:75px;
}
nav{
    position:absolute;
    top: 5px;
    right: 0;
}
nav a:hover{
   color: #578AD6;
}
nav li{
    display: inline;
    margin: 0 0 0 20px;
}
nav a{
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight:bold;
    font-size:20px;
    text-decoration: blue;
}
body{
    margin: 0;
    padding: 0;
    background: url(Escritorio.jpg);
    background-repeat: repeat;   
    background-size: 100% 100%;
    background-position: right top;
    background-attachment: scroll;
    min-height: 100vh;
}
.section h1{
    margin: 0;
    color: #802434;
    font-size: 40px;
 }
 .section h2{
    margin: 0;
    color: #802434;
    font-size: 30px;
 }
 .section{
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 50%;
    margin: 10px auto;
    border-radius: 30px;
   
 }
 .section img{
    width: 50%;
    height:"40%";
    border-radius:30px;
 }
#slider1 {
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    text-align: center;
 }
 #slider1 input[type=radio] {
    display: none;
 }
 #slider1 label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: url(Certificado_Imagen.PNG);
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    background-attachment: 300px;
 }
 #slides .slide_2 {
    background: url(CertificadoAzure.PNG);
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    background-attachment: 300px;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(1)
 {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(1)
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 .slider-frame {
	width: 500px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 90%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.pie-pagina{
    position: scroll;
    display: flex;
    bottom: 0;
    width: 700%;
    height: 300px;
    left: 1050px;
    top: 5854px;
}

i{ 
    text-align: center;
    font-size:60px;
    color: white;
    margin: 20px;;
    border-radius:50%;
    padding: 30px;
    box-shadow: 0px 5px 10px rgb(0,0,0,.35);
    transition: .3s ease;
}

.fa-youtube:hover{
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red,
                0 0 45px red,
                0 0 75px red,
                0 0 155px red;
}
.fa-linkedin:hover{
    background-color: #1DA1F2;
    color: white;
    box-shadow: 0 0 15px #1DA1F2,
                0 0 45px #1DA1F2,
                0 0 75px #1DA1F2,
                0 0 155px #1DA1F2;
}
.fa-instagram:hover{
    background-color: #FF3E00;
    color: white;
    box-shadow: 0 0 15px #FF3E00,
                0 0 45px #FF3E00,
                0 0 75px #FF3E00,
                0 0 155px #FF3E00;
}
